.App {
  padding: 1em;
}

#searchBox {
  border: none;
  outline: none;
  border-left: 4px solid #888;
  color: #888;
  background-color: transparent;
  font-size: 1.25em;
  padding: 0.5em;

  box-sizing: border-box;
  width: 100%;
  @media (min-width: 768px) {
    font-size: 2em;
  }
}

#searchBox::placeholder {
  color: #cccccc;
}

.result {
  /* padding: 2em 1em; */
  cursor: pointer;
}

.result:hover {
  background-color: #e8e8e8;
  transition: 0.2s all;
}

.result.selected {
  background-color: #e0e0e0;
  cursor: unset;
}

.renderedlatex {
  font-size: 2em;
}
code {
  white-space: pre-line;
}

.hint {
  background-color: #ccc;
  padding: 5px;
  border-radius: 25px;
  white-space: nowrap;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  #missingSymbol {
    white-space: nowrap;
    padding: 1em;
    color: #888;
    cursor: pointer;
    font-family: monospace;
    font-size: 0.75em;
  }
}

.header img {
  opacity: 0.6;
}

#bottomBar, #producthunt {
  text-decoration: none;
  color: unset;

  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: 0.6;
}

#loadMoreGutter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.MuiCircularProgress-colorPrimary {
  color: #888888 !important;
}