.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#searchBox {
  border: none;
  outline: none;
  border-bottom: 1px solid;
  font-size: 2em;
}

#searchBox::placeholder {
  color: #bbbbbb;
}