.App {
  padding: 1em;
}

#searchBox {
  border: none;
  outline: none;
  border-left: 4px solid #888;
  color: #888;
  background-color: transparent;
  font-size: 2em;
  padding: 0.5em;
  margin-bottom: 0.5em;

  box-sizing: border-box;
  width: 100%;
}

#searchBox::placeholder {
  color: #cccccc;
}

.result {
  /* padding: 2em 1em; */
}

.result.selected {
  background-color: #e0e0e0;
}

.renderedlatex {
  font-size: 3em;
}