.App {
  padding: 1em;
}

#searchBox {
  border: none;
  outline: none;
  border-left: 4px solid #888;
  color: #888;
  background-color: transparent;
  font-size: 1.25em;
  padding: 0.5em;

  box-sizing: border-box;
  width: 100%;
  @media (min-width: 768px) {
    font-size: 2em;
  }
}

#searchBox::placeholder {
  color: #cccccc;
}

.result {
  /* padding: 2em 1em; */
  cursor: pointer;
  &:hover {
    background-color: #e8e8e8;
    transition: 0.2s background-color;
  }
}

.result.selected {
  background-color: #e0e0e0;
  cursor: unset;
}

.renderedlatex {
  font-size: 2em;
}
code {
  white-space: pre-line;
}

.descriptionInput {
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.latexInput {
  background: #eee;
  padding: 0.3em;
  border: none;
  outline: none;
  font-family: monospace;
  color: #444;
}

.submitNewCommand {
  display: inline-block;
  outline: none;
  cursor: pointer;
  color: #aaa;
  visibility: hidden;
  opacity: 0;
  &:focus {
    color: #000;
    transition: 0.3s color;
  }
  &.enabled {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
}

.hint {
  background-color: #ccc;
  border-radius: 25px;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 10px;
  font-family: monospace;
  transition: 0.2s background-color;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  #addSymbol {
    white-space: nowrap;
    padding: 1em 3em;
    color: #888;
    cursor: pointer;
    font-size: 0.75em;
    display: flex;
    align-items: center;
  }
}

.user-symbols {
  color: #888888;
  padding: 1em 16px;
  font-size: 1.2em;
  font-weight: 600;
  border-left: 4px solid transparent;
}

.header img {
  opacity: 0.6;
}

#bottomBar,
#producthunt {
  text-decoration: none;
  color: unset;

  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: 0.6;
}

#loadMoreGutter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.MuiCircularProgress-colorPrimary {
  color: #888888 !important;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
